html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cell {
  width: 12.5%;
  padding-bottom: 12.5%;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 1.2em;
  background-color: #DDDDDD;
  font-family: sans-serif;
}

.board {
  position: relative;
  max-width: 95vw;
}

.main-board {
  max-width: 85vh;
  max-height: 90vw;
  margin: 25 auto;
}

.dark {
  background-color: #999999;
}

footer {
  background-color: grey;
  padding: 8px;
  &:after {
    content: '';
    display: table;
    width: 100%;
  }
  li {
    display: inline;
    cursor: pointer;
  }
}

.occupied {
  cursor: pointer;
}

.new-game-color {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block
}

.game-item {
  margin: 5px 15px;
  padding: 5px;
  font-size: 1em;
}

.create-game {
  font-size: 2em;
  display: inline;
  cursor: pointer;
}

.new-game-flyover {
  padding: 15px;
  width: 200px;
  margin: 15px;
  box-shadow: 0px 3px 15px 3px rgba(0,0,0,.2);
  position: absolute;
  bottom: 85px;
  right: 0;
  background-color: white;
  border-radius: 5px;
  border: 2px solid blue;
  z-index: 10;
}

.BBP {
  background: url('/assets/black-pawn.svg');
} .BR {
  background: url('/assets/black-rook.svg');
} .BB {
  background: url('/assets/black-bishop.svg');
} .BN {
  background: url('/assets/black-knight.svg');
} .BK {
  background: url('/assets/black-king.svg');
} .BQ {
  background: url('/assets/black-queen.svg');
} .WWP {
  background: url('/assets/white-pawn.svg');
} .WR {
  background: url('/assets/white-rook.svg');
} .WB {
  background: url('/assets/white-bishop.svg');
} .WN {
  background: url('/assets/white-knight.svg');
} .WK {
  background: url('/assets/white-king.svg');
} .WQ {
  background: url('/assets/white-queen.svg');
}

.piece-icon {
  width: 100%;
  height: 100%;
  display: block;
  position:absolute;
  background-size: contain;
}

.react-draggable-dragging {
  pointer-events: none;
}


.dropZone {
  height: 100%;
  z-index: 110;
}

.highlight {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.hover {
  background-color: rgba(0, 0, 255, .1);
}

.hover-attacked {
  background-color: rgba(255, 0, 0, .1);
}

.selected {
  background-color: rgba(0, 0, 255, .5);
}

.attacked {
  background-color: rgba(255, 0, 0, .5);
}
